body {
    margin: 15px;
    font-family: sans-serif;
    color: rgb(175, 175, 175);
    background-color: #1a1a1a;
    box-sizing: content-box;
}

#logo {
    width: 165px;
    margin-left: 157px;
}

#container{
  position: relative;
  background-color: rgb(49, 49, 49);
}

.full {
    display:flex;
}

.blk {
    display: flex;
    margin: 6px;
    flex-direction: column;
}

.blk>button {
    width: 100px;
}

.blk>div>label {
    display: inline-block;
    width: 100%;
}

.blk>div>label>input {
    float: right;
}

#fps {
    font-size: 50;
}

video {
  display:none;
  position: relative;
  background-color: transparent;
}

canvas {
  bborder: 1px solid gray;
  position: relative;
  width:700px;
  height: 400px;
}

.sampleline {
  display: flex;
  position: absolute;
  height: 1px;
  justify-content: space-between;
  background-color: yellow;
  transform-origin: 0px 0px;
}

.mark:first-child{
  background-color:rgba(255, 170, 0, 0.5);
  cursor:move;
}

.mark:last-child{
  background-color:rgba(255, 170, 0, 0.5);
  cursor:move;
}

.mark {
  border: 1px solid orange;
  height: 10px;
  width: 10px;
  border-radius: 6px;
  transform: translate(0px, -5px);
}

#linepos {
  display: none;
  writing-mode: vertical-lr;
  height: 400px;
}

#dmx {
    display: flex;
    height: 77px;
    width: 700px;
    justify-content: center;
    flex-direction: row;
}

#dmx>div {
  display:flex;
  flex-direction: column;
  border: 1px solid rgb(67, 67, 67);
  flex: 1;
  align-items: center;
}

#dmx>div>div{
  flex: 1;
  height: 20px;
}  

#dmx div label {
  position: absolute;
  font-size: 13px;
  color:gray;
  margin: 3px 0 0 4px;
  writing-mode: vertical-rl;
}

#crop {
  display: none;
  position: absolute;
  left: 0;
  top: 23px;
  right: 0;
  bottom: 0;
  background-color: #ff000022;
}
